<div class="container" style="margin-top: 500px;">
  <h6>Test Animation</h6>
  <div class="mb-4">
    <img src="../assets/banner-1.jpg" style="max-width: 100%">
  </div>
  <div class="row mb-4" (onChange)="onChangeOpacity($event)" animationView [@opacityAnimation]="stateOpacity">
    <div class="col-4">
      <img src="../assets/blog-one.png">
      <p>Designed using the latest edge technologies for maximum performances and compatibility.</p>
    </div>
    <div class="col-4">
      <img src="../assets/blog-one.png">
      <p>Designed using the latest edge technologies for maximum performances and compatibility.</p>
    </div>
    <div class="col-4">
      <img src="../assets/blog-one.png">
      <p>Designed using the latest edge technologies for maximum performances and compatibility.</p>
    </div>
  </div>
 <div >
  <div class="row mb-4" (onChange)="onChange($event)" animationView [@listAnimation]="stateList">
    <div class="col-4 item-test" >
      <img src="../assets/blog-one.png">
      <p>Designed using the latest edge technologies for maximum performances and compatibility.</p>
    </div>
    <div class="col-4 item-test">
      <img src="../assets/blog-one.png">
      <p>Designed using the latest edge technologies for maximum performances and compatibility.</p>
    </div>
    <div class="col-4 item-test">
      <img src="../assets/blog-one.png">
      <p>Designed using the latest edge technologies for maximum performances and compatibility.</p>
    </div>
  </div>
 </div>
</div>